@use '../../../../../../scss/media.scss';

.protocol_cards {
   opacity: 0;
   visibility: hidden;
   transition: .4s;
   transition-delay: 0s;

   &.active {
      opacity: 1;
      visibility: visible;
      transition-delay: .2s;
   }

   .row {
      row-gap: 30px;

      @include media.desktop {
         row-gap: 40px;
      }

      @include media.tablet {
         row-gap: 10px;
      }

      @include media.mobile {
         row-gap: 16px;
      }
   }
}