.explore {
  background: #F8F7F4;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (max-width: 1199px) {
  .explore {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 767px) {
  .explore {
    background: #2C2928;
  }
}
.explore .col-12 {
  display: none;
}
@media screen and (max-width: 1199px) {
  .explore .col-12 {
    display: flex;
    row-gap: 20px;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .explore .col-12 .title {
    color: #848685;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
  }
  .explore .col-12 .text {
    color: #848685;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }
}
@media screen and (max-width: 767px) {
  .explore .col-12 {
    display: none;
  }
}
.explore__wrap_l {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1199px) {
  .explore__wrap_l {
    margin-top: 0px;
    position: unset;
    height: auto;
    max-height: unset;
  }
}
.explore__wrap_l .head {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 100%;
  max-width: 82.7%;
}
@media screen and (max-width: 1199px) {
  .explore__wrap_l .head {
    max-width: 100%;
    row-gap: 20px;
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .explore__wrap_l .head {
    display: flex;
    row-gap: 12px;
  }
}
.explore__wrap_l .head h2 {
  color: #848685;
}
@media screen and (max-width: 767px) {
  .explore__wrap_l .head h2 {
    color: #fff;
  }
}
.explore__wrap_l .head .text {
  color: #848685;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
@media screen and (max-width: 1599px) {
  .explore__wrap_l .head .text {
    font-size: 18px;
    line-height: 24px;
  }
}
@media screen and (max-width: 1199px) {
  .explore__wrap_l .head .text {
    font-size: 14px;
    line-height: 20px;
  }
}
@media screen and (max-width: 767px) {
  .explore__wrap_l .head .text {
    color: #fff;
  }
}
.explore__wrap_l .list_accord {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-top: 40px;
  overflow-y: auto;
  padding-right: 10px;
  flex: 1 1 auto;
}
.explore__wrap_l .list_accord::-webkit-scrollbar {
  width: 5px;
}
.explore__wrap_l .list_accord::-webkit-scrollbar-track {
  background: transparent;
}
.explore__wrap_l .list_accord::-webkit-scrollbar-thumb {
  background: #56DAB0;
}
@media screen and (max-width: 1599px) {
  .explore__wrap_l .list_accord {
    margin-top: 20px;
    row-gap: 10px;
  }
}
@media screen and (max-width: 1199px) {
  .explore__wrap_l .list_accord {
    margin-top: 0px;
    overflow-y: unset;
    flex: unset;
  }
}
@media screen and (max-width: 767px) {
  .explore__wrap_l .list_accord {
    display: none;
  }
}
.explore__wrap_l .list_accord .item {
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}
.explore__wrap_l .list_accord .item .title {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  position: relative;
  transition: 0.3s;
  transition-delay: 0.3s;
  cursor: pointer;
}
@media screen and (max-width: 1199px) {
  .explore__wrap_l .list_accord .item .title {
    padding-left: 0px !important;
  }
}
.explore__wrap_l .list_accord .item .title .title_wrap {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  border-radius: 20px;
  transition: 0.3s;
}
@media screen and (max-width: 1599px) {
  .explore__wrap_l .list_accord .item .title .title_wrap {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
.explore__wrap_l .list_accord .item .title .title_wrap h3 {
  color: #CFCECC;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  transition: 0.4s;
}
@media (hover: hover) {
  .explore__wrap_l .list_accord .item .title .title_wrap h3:hover {
    color: #848685;
  }
}
@media (hover: none) {
  .explore__wrap_l .list_accord .item .title .title_wrap h3:active {
    color: #848685;
  }
}
@media screen and (max-width: 1599px) {
  .explore__wrap_l .list_accord .item .title .title_wrap h3 {
    font-size: 18px;
    line-height: 24px;
  }
}
@media screen and (max-width: 1199px) {
  .explore__wrap_l .list_accord .item .title .title_wrap h3 {
    font-size: 14px;
    line-height: 20px;
  }
}
.explore__wrap_l .list_accord .item .title .title_wrap .arrow {
  display: flex;
  opacity: 0;
  transition: 0.3s;
  transition-delay: 0s;
}
@media screen and (max-width: 1199px) {
  .explore__wrap_l .list_accord .item .title .title_wrap .arrow {
    display: none !important;
  }
}
.explore__wrap_l .list_accord .item .text {
  opacity: 0;
  height: 0px;
  padding-left: 0px;
  color: #848685;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  overflow: hidden;
  margin-top: 0px;
  transition-property: margin-top, padding-left;
  transition-duration: 0.3s, 0s;
  transition-delay: 0s, 0.4s;
}
.explore__wrap_l .list_accord .item .text p {
  height: inherit;
}
@media screen and (max-width: 1599px) {
  .explore__wrap_l .list_accord .item .text {
    font-size: 18px;
    line-height: 24px;
  }
}
@media screen and (max-width: 1199px) {
  .explore__wrap_l .list_accord .item .text {
    font-size: 14px;
    line-height: 20px;
    opacity: 1;
    transition-duration: 0.3s;
    transition-delay: 0s;
  }
}
.explore__wrap_l .list_accord .item.active {
  margin: 12px 0;
}
.explore__wrap_l .list_accord .item.active:first-of-type {
  margin-top: 0px;
}
@media screen and (max-width: 1599px) {
  .explore__wrap_l .list_accord .item.active {
    margin: 0;
  }
}
.explore__wrap_l .list_accord .item.active .title {
  padding-left: 0px;
  transition: 0.3s;
  transition-delay: 0.6s;
}
.explore__wrap_l .list_accord .item.active .title .title_wrap {
  padding: 4px 16px;
  border-radius: 20px;
  background: #56DAB0;
}
@media screen and (max-width: 1599px) {
  .explore__wrap_l .list_accord .item.active .title .title_wrap {
    padding: 1px 14px;
  }
}
@media screen and (max-width: 1199px) {
  .explore__wrap_l .list_accord .item.active .title .title_wrap {
    padding: 3px 14px;
  }
}
.explore__wrap_l .list_accord .item.active .title .title_wrap h3 {
  color: #fff;
}
.explore__wrap_l .list_accord .item.active .title .title_wrap .arrow {
  opacity: 1;
  transition: 0.3s;
  transition-delay: 0.3s;
}
@media screen and (max-width: 1199px) {
  .explore__wrap_l .list_accord .item.active .title .title_wrap .arrow {
    display: none !important;
  }
}
.explore__wrap_l .list_accord .item.active .text {
  margin-top: 20px;
  padding-left: 50px;
  transition-property: margin-top, padding-left;
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.5s, 0.65s;
}
@media screen and (max-width: 1599px) {
  .explore__wrap_l .list_accord .item.active .text {
    margin-top: 15px;
    padding-left: 30px;
  }
}
@media screen and (max-width: 1199px) {
  .explore__wrap_l .list_accord .item.active .text {
    margin-top: 10px;
    padding-left: 0px;
    transition-duration: 0.3s;
    transition-delay: 0.3s;
  }
}
.explore__wrap_r {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  position: relative;
  aspect-ratio: 9/8;
  width: 100%;
  overflow: hidden;
  height: 100%;
}
@media screen and (max-width: 1599px) {
  .explore__wrap_r {
    aspect-ratio: 33/36;
  }
}
@media screen and (max-width: 1199px) {
  .explore__wrap_r {
    aspect-ratio: unset;
  }
}
@media screen and (max-width: 767px) {
  .explore__wrap_r {
    overflow: visible;
  }
}
.explore__wrap_r .sw_explore {
  max-width: 100%;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .explore__wrap_r .sw_explore {
    overflow: visible;
    margin-top: 52px;
    position: relative;
  }
}
.explore__wrap_r .sw_explore .swiper-pagination {
  display: none;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
@media screen and (max-width: 767px) {
  .explore__wrap_r .sw_explore .swiper-pagination {
    display: flex;
    top: -36px;
    left: 0px;
    right: auto;
    bottom: auto;
  }
}
.explore__wrap_r .item_wrap {
  overflow: hidden;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1199px) {
  .explore__wrap_r .item_wrap {
    height: auto;
    min-height: unset;
    position: relative;
  }
}
@media screen and (max-width: 767px) {
  .explore__wrap_r .item_wrap {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-top: 0px;
    background: #fff;
    padding: 24px 12px 12px 12px;
    max-width: 297px;
    justify-content: space-between;
    overflow: visible;
  }
}
.explore__wrap_r .item_wrap::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 62.25%, rgba(0, 0, 0, 0.3) 100%);
  bottom: 0;
  left: 0;
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .explore__wrap_r .item_wrap::after {
    display: none;
  }
}
.explore__wrap_r .item_wrap::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 62.25%);
  top: 0;
  left: 0;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .explore__wrap_r .item_wrap::before {
    display: none;
  }
}
.explore__wrap_r .item_wrap .meta_slide {
  display: none;
}
@media screen and (max-width: 767px) {
  .explore__wrap_r .item_wrap .meta_slide {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
  .explore__wrap_r .item_wrap .meta_slide h3 {
    color: #848685;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .explore__wrap_r .item_wrap .meta_slide .text {
    color: #848685;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }
}
.explore__wrap_r .item_wrap .item {
  position: relative;
  height: 100%;
}
@media screen and (max-width: 1199px) {
  .explore__wrap_r .item_wrap .item {
    aspect-ratio: 361/449;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
}
@media screen and (max-width: 767px) {
  .explore__wrap_r .item_wrap .item {
    border-radius: 4px;
    aspect-ratio: 276/343;
    overflow: hidden;
    width: 100%;
  }
  .explore__wrap_r .item_wrap .item::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 62.25%, rgba(0, 0, 0, 0.3) 100%);
    bottom: 0;
    left: 0;
    z-index: 2;
  }
  .explore__wrap_r .item_wrap .item::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 62.25%);
    top: 0;
    left: 0;
    z-index: 1;
  }
}
.explore__wrap_r .item_wrap .item .head {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  position: absolute;
  top: 40px;
  right: 0px;
  padding: 0 40px;
  z-index: 4;
}
@media screen and (max-width: 1599px) {
  .explore__wrap_r .item_wrap .item .head {
    top: 30px;
    padding: 0 30px;
    row-gap: 8px;
  }
}
@media screen and (max-width: 1199px) {
  .explore__wrap_r .item_wrap .item .head {
    top: 20px;
    padding: 0 20px;
    row-gap: 4px;
    left: 0px;
    right: auto;
  }
}
@media screen and (max-width: 767px) {
  .explore__wrap_r .item_wrap .item .head {
    row-gap: 3px;
    padding: 0 8px;
    top: 18px;
  }
}
.explore__wrap_r .item_wrap .item .head .item_head {
  display: flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  color: #FFF;
  text-align: right;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
@media screen and (max-width: 1599px) {
  .explore__wrap_r .item_wrap .item .head .item_head {
    font-size: 18px;
    line-height: 24px;
  }
}
@media screen and (max-width: 1199px) {
  .explore__wrap_r .item_wrap .item .head .item_head {
    font-size: 14px;
    line-height: 20px;
  }
}
.explore__wrap_r .item_wrap .item .image {
  width: 100%;
  height: 100%;
  position: relative;
}
.explore__wrap_r .item_wrap .item .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.explore__wrap_r .item_wrap .item .image_small {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  max-width: 45.5%;
  max-height: 56%;
  overflow: hidden;
  aspect-ratio: 205/273;
}
@media screen and (max-width: 1599px) {
  .explore__wrap_r .item_wrap .item .image_small {
    max-height: 50%;
    aspect-ratio: 300/400;
  }
}
@media screen and (max-width: 1199px) {
  .explore__wrap_r .item_wrap .item .image_small {
    aspect-ratio: 79/105;
    overflow: hidden;
    max-width: 44%;
    max-height: 47%;
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 767px) {
  .explore__wrap_r .item_wrap .item .image_small {
    max-width: 58%;
    max-height: 62%;
    aspect-ratio: 158/210;
  }
}
.explore__wrap_r .item_wrap .item .image_small img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.explore__wrap_r .item_wrap .item .people {
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  position: absolute;
  bottom: 40px;
  padding: 0 40px;
  z-index: 4;
  width: 100%;
  max-width: 100%;
}
@media screen and (max-width: 1599px) {
  .explore__wrap_r .item_wrap .item .people {
    bottom: 30px;
    padding: 0 30px;
  }
}
@media screen and (max-width: 1199px) {
  .explore__wrap_r .item_wrap .item .people {
    bottom: 20px;
    padding: 0 20px;
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
}
.explore__wrap_r .item_wrap .item .people .avatar {
  width: 100%;
  max-width: 90px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}
@media screen and (max-width: 1599px) {
  .explore__wrap_r .item_wrap .item .people .avatar {
    max-width: 70px;
  }
}
@media screen and (max-width: 1199px) {
  .explore__wrap_r .item_wrap .item .people .avatar {
    max-width: 40px;
  }
}
.explore__wrap_r .item_wrap .item .people .avatar img {
  height: auto;
}
.explore__wrap_r .item_wrap .item .people .name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: calc(100% - 120px);
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
@media screen and (max-width: 1599px) {
  .explore__wrap_r .item_wrap .item .people .name {
    max-width: calc(100% - 100px);
    font-size: 18px;
    line-height: 24px;
  }
  .explore__wrap_r .item_wrap .item .people .name .icon {
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
  }
  .explore__wrap_r .item_wrap .item .people .name .icon svg {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 1199px) {
  .explore__wrap_r .item_wrap .item .people .name {
    font-size: 14px;
    line-height: 20px;
    max-width: calc(100% - 56px);
  }
  .explore__wrap_r .item_wrap .item .people .name .icon {
    width: 12px;
    height: 12px;
    min-width: 12px;
    min-height: 12px;
    max-width: 12px;
    max-height: 12px;
  }
}
@media screen and (max-width: 767px) {
  .explore__wrap_r .item_wrap .item .people .name .icon {
    display: none;
  }
}